.question_container {
    display: flex;
    flex: 3;
    overflow: hidden;
    border-radius: 32px;
    background-color: var(--projects-section);
    position: relative;
    justify-content: space-between;
    height: 90%;
    width: 100%;
	margin: 12px 0 0 0;
	display: flex;
	flex-direction: row;
	box-shadow: var(--box-shadow);
	padding: 1.5em 1.5em 1em 1.5em;
}

.description {
    flex: 2;
    /* - 50px of the content container margin */
    /* - flex 2 total 5*/
    /* - 3em content container padding */
    /* - 1em description div right padding */
    max-width: calc((100vw - 50px)/5*2 - 3em);
    height: 100%;
    display: flex;
    padding: 0 1em 0 0;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid var(--message-box-border);
    overflow: visible;
    resize: horizontal;
}

.markdown {
    flex: 2;
    overflow-wrap: break-word;
    overflow-y: scroll;
}

.markdown p {
    color: var(--main-color);
}

.action_group {
    display: flex;
    flex-direction: row;
    margin: 5px 0 5px 0;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid var(--message-box-border);
    border-bottom: 1px solid var(--message-box-border);
}

.action_group h3{
    width: 100%;
}

.input_holder {
    flex: 1;
    overflow: auto;
    border-radius: 5px;
}

.question_md_input{
    font-size: 18px;
    height: 100%;
    width: 100%;
    overflow-wrap: break-word;
    background-color: transparent;
    color: var(--main-color);
    overflow: scroll;
}

.grader_code {
    flex: 2;
    max-width: calc((100vw - 50px)/5*2 - 4em);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.auto_grader {
    flex: 1;
    width: 100%;
    overflow: scroll;
    border-radius: 5px;
}

.solution {
    flex: 1;
    width: 100%;
    overflow: scroll;
    border-radius: 5px;
}

.case_and_result {
    flex: 1;
    padding: 0 0 0 1em;
    max-width: calc((100vw - 50px)/5*1);
    border-left: 1px solid var(--message-box-border);
    display: flex;
    flex-direction: column;
}

.btn {
    width: 33%;
	font-size: 25px;
    font-weight: 700;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	background-color: var(--projects-section);
	border: none;
	color: var(--main-color);
	transition: 0.2s;
}

.btn.active {
	background-color: var(--link-color-active-bg);
	color: var(--link-color-active);
}

.btn:not(.active):hover {
	background-color: var(--link-color-hover);
	color: var(--link-color-active);
}


.round_btn {
	border: none;
	outline: none;
	border-radius: 50%;
	color: var(--main-color);
	width: 50px;
	height: 50px;
	font-weight: bold;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
	font-size: 30px;
	transition: 0.2s;
	box-shadow: var(--box-shadow);
}

.round_btn.active {
	color: var(--link-color-active);
	background-color: var(--link-color-active-bg);
}

.round_btn:not(.active):hover{
	color: var(--link-color-active);
	background-color: var(--link-color-hover);
}

.test_case {
    flex: 1;
    width: 100%;
    overflow: scroll;
    border-radius: 5px;
}

.test_case_input {
    font-size: 18px;
    height: 100%;
    width: 100%;
    overflow-wrap: break-word;
    background-color: transparent;
    color: var(--main-color);
    overflow: scroll;
}

.question_edit_action {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 16px;
}