.chat_window {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .chat_window p {
    margin: 0;
  }
  .chat_window .chat_header {
    height: 45px;
    border-radius: 6px;
    background: var(--app-container);
    position: relative;
    cursor: pointer;
  }
  .chat_window .chat_header p {
    display: block;
    padding: 0 1em 0 2em;
    color: var(--main-color);
    font-weight: 700;
    line-height: 45px;
  }
  
  .chat_window .chat_body {
    height: calc(100% - 45px);
    background-color: var(--projects-section);
    position: relative;
    border-radius: 5px;
  }
  .chat_window .chat_body .message_container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  .chat_window .chat_body .message_container::-webkit-scrollbar {
    display: none;
  }
  
  .chat_window .chat_body .message {
    height: auto;
    padding: 5px 0 5px 0;
    display: flex;
    flex-direction: column;
  }
  
  .chat_window .chat_body .message .message_content {
    width: auto;
    height: auto;
    /* min-height: 40px; */
    /* max-width: 120px; */
    border-radius: 5px;
    display: flex;
    /* margin-right: 5px; */
    /* margin-left: 5px; */
    padding: 10px;
    overflow-wrap: break-word;
    word-break: break-word;
  }
  
  p {
    color: var(--main-color);
  }
  .chat_window .chat_body .message .message_meta p {
    color: var(--main-color);
  }

  .local {
    justify-content: flex-end;
  }
  
  .local .message_content {
    justify-content: flex-end;
  }

  .local .message_content p {
    padding: 10px;
    border-radius: 5px;
    background-color: var(--app-container);
  }
  
  .local .message_meta {
    justify-content: flex-end;
    margin-right: 10px;
  }
  
  .remote {
    justify-content: flex-start;
  }
  
  .remote .message_content {
    justify-content: flex-start;
  }

  .remote .message_content p {
    padding: 10px;
    border-radius: 5px;
    background-color: var(--code-section);
  }
  
  .remote .message_meta {
    justify-content: flex-start;
    margin-left: 10px;
  }
  
  .message_meta .author {
    margin-left: 10px;
    font-weight: bold;
  }
  
  .chat_window .chat_body .message .message_meta {
    display: flex;
    font-size: 12px;
  }
  
  .chat_window .chat_footer {
    height: 40px;
    width: 100%;
    display: flex;
  }
  
  .chat_window .chat_footer input {
    width: 100%;
    overflow-x: scroll;
    border: 0;
    padding: 0 1em;
    font-size: 1em;
    outline: none;
    background-color: transparent;
    font-family: "Open Sans", sans-serif;
    border-radius: 5px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--light-font);
    background-color: var(--code-section);
    overflow: hidden;
  }
  
  /* .chat_window .chat_footer button {
    border: 0;
    display: grid;
    place-items: center;
    cursor: pointer;
    flex: 15%;
    height: 100%;
    background: transparent;
    outline: none;
    font-size: 25px;
    color: var(--main-color);
  }
  
  .chat_window .chat_footer button:hover {
    color: var(--theme-green);
  } */

  .hide {
    opacity: 0 !important;
  }