.video_container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.large_video {
    position: relative;
    height: 100%;
    z-index: 0;
}

.small_video {
    position: absolute;
    top: 0;
    right: 0;
    height: 20%;
    z-index: 1;
}

.local_video {
    height: 100%;
    width: 100%;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg); /* Safari and Chrome */
    -moz-transform: rotateY(180deg); /* Firefox */
}

.remote_video {
    height: 100%;
    width: 100%;
}

.video_name {
    position: absolute;
}

.video_buttons {
    position: absolute;
    bottom: 10px;
    left: 5px;
    z-index: 1;
    display: flex;
}

.video_button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--theme-green);
    height: 25px;
    border-radius: 5px;
    font-size: 1.2rem;
    width: 50px;
    margin: 0 0.1rem;
}

.video_button_red {
    background-color: #f6484a;
}

